#content{
    width: 380px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 1px;
    line-height: 25px;
    border: 1px #000 solid;
}
ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
/* 父级元素相对定位 */
#content ul{
position: relative;
}
.tipText,.tipBg{
    position: absolute;
    width: 380px;
    height:25px ;
    top: 178px;
}
.tipText{
    color: white;
    z-index: 999;
}
.tipBg{
    background: #000;
    /*  opacity:背景透明度*/
    opacity: 0.5;
}
