
#nav{
    width: 300px;
    background: rgb(170, 178, 185);
}

.title{
    font-size: 18px;
    font-weight: bold;
    text-indent: 1em;
    line-height: 35px;
    background: red;
    /* 颜色，图片，图片位置，平铺方式 */
    background: red url("../images/a.png") 270px 10px no-repeat;

}
/* ul li */
/* list-style: 
none 去掉原点
circle 空心圆 
decimal 数字
square 正方形*/
ul{
    background: rgb(170, 178, 185);
}
ul li{
    height: 30px;
    list-style: none;
    text-indent: 1em;
    background-image: url("../images/b.png");
    background-repeat: no-repeat;
    background-position: 200px 1px;
}
a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}
a:hover{
    color: orange;
    text-decoration: underline;
}